doctype
html
  head
    title app
    meta(charset='utf-8')
    link(href="fonts/fonts.css" media="screen" rel="stylesheet" type="text/css")
    link(href="application.css" media="screen" rel="stylesheet" type="text/css")
  body
    .container
      img.splash
      .game
        .bg
          img
        //canvas(width="900" height="600")
        svg
        .score-fuel.score
          span
        .score-ecolo.score
          span
        .playground
        .left-side
      .result-page
        img
        .percent
    script(src="application.js" type="text/javascript")
